src/Modules/GraphEngine.Client/UI Modules/Trinity.GE.WPF.TestFacility.UI.ProgramInfo.Module/ProgramInfo.Data/IKW.ProtoNexus.ProgramInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ZipCode">
		<xs:simpleType>
			<xs:restriction base="xs:int">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Version">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="State">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShortProgramDescription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Para" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Release">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProgramName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProgramInformationData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProgramName"/>
				<xs:element ref="Version"/>
				<xs:element ref="Release"/>
				<xs:element ref="IPOwner"/>
				<xs:element ref="ContactInfo"/>
				<xs:element ref="ShortProgramDescription"/>
				<xs:element ref="OrginialAuthorInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProfessionalAssociation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PhoneNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Para" theClassType="xs:string"/>
	<xs:element name="OrginialAuthorInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Author"/>
				<xs:element ref="ProfessionalAssociation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IPOwner">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContactInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddressLine1"/>
				<xs:element ref="AddressLine2"/>
				<xs:element ref="City"/>
				<xs:element ref="State"/>
				<xs:element ref="PhoneNumber"/>
				<xs:element ref="ZipCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="City">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Author">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AddressLine2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="AddressLine1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
